<div class="artist-poster">
  <img class="artist-cover-img" />

  <div class="artist-header-content">
    <div class="artist-identity">
      <div class="artist-photo">
        <img class="artist-profile-img" alt="Artist Profile" />
      </div>
      <h1 id="artistPageTitle">Artist</h1>
    </div>

    <button class="about-btn">About</button>
  </div>
</div>

<!-- Modal -->
<div class="about-background">
  <div class="about-modal-content">
    <img class="about-profile-img" />
    <div class="about-artist-text"></div>
  </div>
</div>

<section class="songs-section fade-in">
  <div id="artistTrackList"></div>
</section>
