<header class="top-bar">
  <input
    type="text"
    id="searchBar"
    placeholder="Search for songs or artists..."
  />
</header>
<div class="artist-poster">
  <img class="artist-cover-img" />
  <div class="artist-photo">
    <img class="artist-profile-img" alt="Artist Profile" />
    <div class="about-artist">About</div>
    <div class="about-background">
      <div class="about-artist-text"></div>
    </div>
  </div>
</div>
<section class="songs-section fade-in">
  <h2 id="artistPageTitle">Artist</h2>
  <div id="artistTrackList"></div>
</section>
