/* ============================
   ARTIST POSTER (Cover Photo)
============================ */

.artist-poster {
  position: relative;
  height: 26vh;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Cover image */
.artist-cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.75);
}

/* ============================
   ARTIST PROFILE PHOTO
============================ */

.artist-photo {
  position: relative;
  z-index: 10;
  top: 20%;
  width: clamp(160px, 20vh, 300px);
  height: clamp(160px, 20vh, 300px);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 2px 7px 15px rgba(0, 0, 0, 0.55);
  cursor: pointer;
}

/* Profile image */
.artist-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-artist {
  position: fixed;
  display: none;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 14px;
  color: white;
  text-shadow: 0px 0px 6px black;
  cursor: pointer;
}

.artist-photo:hover .about-artist {
  display: block;
}

.about-artist:hover {
  text-decoration: underline;
}

.about-background {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.about-artist-text {
  width: 40vw;
  height: 40vh;
  padding: 24px;
  font-size: 1.3rem;
  font-weight: 300;
  color: white;
  text-align: center;
  line-height: 1.4;
  background: linear-gradient(
    to right,
    rgba(29, 29, 29, 0.759),
    rgba(95, 94, 94, 0.77)
  );
  border: rgba(255, 255, 255, 0.2) solid 1px;
  border-radius: 14px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.6);
}