body {
  overflow: hidden;
}

.head {
  font-size: 1.7rem;
}

.settings-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 700px;
  margin: 0 auto;
}

.settings-card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
}

.settings-card h3 {
  color: var(--accent-color);
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 400;
}

.settings-card p,
.settings-card label {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-card input[type="checkbox"] {
  transform: scale(1.3);
  color: var(--accent-color);
}

.settings-card.highlight {
  color: var(--accent-color);
  background: rgba(11, 61, 138, 0.233);
}

.primary-btn,
.accent-btn {
  margin-top: 17px;
  margin-bottom: 5px;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  transition: background 0.2s ease;
} 
.primary-btn {
  color: #111;
}

.primary-btn:hover {
  color: #111;
  background-color: #e0e0e0;
}

.accent-btn {
  background: #03103a;
  color: #fff;
  color: var(--accent-color);
}

.accent-btn:hover {
  color: var(--accent-color);
  color: #111;
}
