body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.login-container {
  background: linear-gradient(to bottom, rgb(43, 42, 42), rgb(77, 77, 77));
  color: #222;
  width: 360px;
  padding: 2rem;
  border-radius: 18px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
}

h2 {
  color: white;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.imgcont {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 3vh;
}

.indexlogo {
  width: 8vw;
}

button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.8rem;
  background: var(--accent-color);
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background: var(--accent-color);
}

.toggle-text {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #d8d8d8;
}

.toggle-text span {
  color: var(--accent-color);
  cursor: pointer;
  font-weight: bold;
}

#message,
#signupMessage {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: red;
}

#verifyForm {
  color: var(--text-main-color);
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .indexlogo {
    width: 20vw; /* Bigger logo */
    max-width: 200px;
  }

  .login-container {
    width: 85%; /* Smaller/Responsive container */
    padding: 1.5rem;
    max-width: 320px;
  }
}
