@import url(fonts.css);

* {
  box-sizing: border-box;
  font-family: "Dekko";
}

body {
  margin: 0;
  background-image: linear-gradient(to right, #269dc98c, #cb398973);
}

.main {
  margin: 0;
  padding-top: 8vh;
  padding-bottom: 6vh;
}

.header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  height: 12vh;
  width: auto;
  margin-left: 2vw;
}
